/* Hide scrollbar for all webkit browsers (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for all other browsers like Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media only screen and (max-width:640px) {
    .movie-card{
        position: relative;
        background: black;
        top: -26rem;
        left: 0px;
        padding-left: 0px;
        left: -30px;
        /* width: 100%; */
        overflow-x: hidden;
        padding-right: 0px;
    }
}