.movie-card{
    position: relative;
    background: black;
    top: -26rem;
    left: 0px;
    padding-left: 0px;
    left: -30px;
    /* width: 100%; */
    overflow-x: hidden;
    padding-right: 0px;
}