/* Shimmer Effect */
@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.shimmer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 900px;
    margin:  0px auto;
}

.shimmer {
    background: linear-gradient(to right,
            #f0f0f0 4%,
            #e0e0e0 25%,
            #f0f0f0 36%);
    background-size: 1000px 100%;
    animation: shimmer 2s infinite;
}

.shimmer-title {
    width: 200px;
    height: 20px;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.shimmer-text {
    width: 150px;
    height: 15px;
    margin-bottom: 1rem;
    border-radius: 4px;
    margin-right: 1rem;
}

.shimmer-rectangle {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

.shimmer-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Shimmer Effect */
@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.shimmer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.shimmer {
    background: linear-gradient(to right,
            #f0f0f0 4%,
            #e0e0e0 25%,
            #f0f0f0 36%);
    background-size: 1000px 100%;
    animation: shimmer 2s infinite;
}

.shimmer-title {
    width: 200px;
    height: 20px;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.shimmer-text {
    width: 150px;
    height: 15px;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.shimmer-rectangle {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

.shimmer-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
}