.cart-container {
    color: black;
    margin: 0 auto;
    padding-top: 120px;
    max-width: 1200px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #bab7b7;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.product-name {
    flex: 2;
    margin-left: 20px;
    font-size: 18px;
}

.product-price,
.product-total {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    border-radius: 4px;
}

.quantity {
    font-size: 18px;
    min-width: 40px;
    text-align: center;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    position: relative;
    right: 0px;
    width: 100%;
    /* border-top: 1px solid #333; */
}